<!-- <app-directivecomponentss></app-directivecomponentss>  -->
 
<!--  <app-obs></app-obs>  -->
    <!-- <app-loginpage></app-loginpage> -->
 <!-- <app-nav></app-nav> -->

 <!-- <router-outlet></router-outlet> -->


<!-- trip -->
<!-- <app-onewaybooking></app-onewaybooking> -->
 <!-- <app-trivel-info></app-trivel-info> -->
 <nav>
    <ul>
        <li><a routerLink="/trip">trip page</a></li>
        <li><a routerLink="/portfolio">portfolio page</a></li>
        <li><a routerLink="/exampleobs">exampleobs page</a></li>
    </ul>
 </nav>

 <router-outlet></router-outlet>