<app-navbar></app-navbar>
<p>contact-me works!</p>
<div class="container my-5" >
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class=" col-md-12">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3 col-md-6" >
      <h1 class="display-4 fw-bold lh-1">hello...{{contactloc.Name}}</h1>
      <h1 class="display-4 fw-bold lh-1">{{contactloc.Contact}}</h1>
      <p class="lead">{{contactloc.about}}</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
    
    <div class="col-lg-4 col-md-6 offset-lg-1 p-0 overflow-hidden shadow-lg">
         <img class="rounded-lg-3" src="assets/22.jpg" alt="" width="500"> 
    </div></div>
  </div>
</div>